.wrapperRegistration {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 300px;
  margin: 0 auto;
  border: 1px solid rgb(65, 28, 28);
  border-radius: 15px;
  overflow: hidden;

  .loginContainer,
  .passwordContainer,
  .repeatPasswordContainer {
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  .logoText {
    color: red;
    margin: 1.5em;
  }

  .formBlockBtn {
    margin: 1em 0;
  }

  .linkBtnRegistration {
    margin-left: 1em;
    font-size: 24px;
  }

  .aboutUser {
    display: inline-flex;
    flex-direction: column;
  }

  .ant-row-space-around {
    margin: 0.5em;
  }

  .ant-btn-primary {
    height: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .ant-col-6 {
  min-width: 150px;
}
}