.wrapper {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 0 auto;
  border: 1px solid rgb(65, 28, 28);
  border-radius: 15px;
  
  .loginContainer, 
  .passwordContainer, 
  .repeatPasswordContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .logoText {
    color: red;
  }

  .formBlockBtn {
    margin: 1em 0;
  }

  .linkBtn {
    margin-left: 1em;
  }
}